<%- include('partials/indexHeader.ejs') %>
<div id='tophalf'>
    <div class="container">
        <div id = "introCard" class="jumbotron">
            <% if(currentUser){ %>
                <h1 class="display-4">Hello, <%= currentUser.username%>!</h1>
            <% }else{ %>
                <h1 class="display-4">Welcome!</h1>
            <% } %>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <form id="userForm" action="" method="post" autocomplete="off">
                <div class="form-row">
                  <div class="col-md-7 autocomplete mb-4 p-0">
                    <input type="text" class="form-control" id="searchUser" name="searchUser" placeholder="Search Other Users" required>
                  </div>
                  <div class='col-md-3 pl-md-4 p-sm-0'>
                    <button class="btn btn-outline-success " type="submit">Search</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
<% if(!currentUser) {%>
<div id='bottomhalf'>
    <div class="container">
        <h1>New or Returning?</h1>
        <div id="signUpBtns">
            <a href="/login" class="btn btn-light btn-lg">Login</a>
            <a href="/register" class="btn btn-success btn-lg">Register</a>
        </div>
    </div>
</div>
<% }else{ %>
    <div class="row">
        <div class="followingList col-sm-1">
            <h5>Following</h5>
            <% currentUser.following.forEach(function(user){ %>
                <p><%= user %></p>
            <% }) %>
        </div>
        <div class="followerList col-sm-1">
            <h5>Followers</h5>
            <% currentUser.followers.forEach(function(user){ %>
                <p><%= user %></p>
            <% }) %>
        </div>
        <div class="col-sm-10">
            <h1 class='display-4'>Recents</h1>
            <div class='followingContent row'>
                <% if(posts && posts.length > 0){ %>
                    <% posts.forEach(function(post){ %>
                    <div class="col-12">

                    </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
<% } %>

<script src="/scripts.js"></script>
<script>
    autocomplete(document.getElementById("searchUser"), <%- JSON.stringify(names) %>);
</script>
<script>
$('#userForm').submit(function(){
    let user = $('#searchUser').val();
    $(this).attr('action', "/accounts/" + user);
  }); 
</script>
<%- include('partials/footer.ejs') %>