<%- include('partials/indexHeader.ejs') %>
<div id='tophalf'>
    <div class="container">
        <div id = "introCard" class="jumbotron">
            <% if(currentUser){ %>
                <h1 class="display-4">Hello, <%= currentUser.username%>!</h1>
                <p class="lead">Share what you've experienced with others.</p>
            <% }else{ %>
                <h1 class="display-4">Welcome!</h1>
                <p class="lead">TravelConnect is a space to see the wonderful and discover the unknown! You can create an account, make posts, and follow friends!</p>
            <% } %>
            <hr class="my-4">
            <form id="userForm" action="" method="post" autocomplete="off">
                <div class="form-row">
                  <div class="col-md-7 autocomplete mb-4 p-0">
                    <input type="text" class="form-control" id="searchUser" name="searchUser" placeholder="Search Other Users" required>
                  </div>
                  <div class='col-md-3 pl-md-4 p-sm-0'>
                    <button class="btn btn-outline-success " type="submit">Search</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
<% if(!currentUser) {%>
<div id='bottomhalf'>
    <div class="container">
        <h1>New or Returning?</h1>
        <div id="signUpBtns">
            <a href="/login" class="btn btn-light btn-lg">Login</a>
            <a href="/register" class="btn btn-success btn-lg">Register</a>
        </div>
    </div>
</div>
<% }else{ %>
    <div class="container">
        <h1 class='display-4 text-center'>Recents</h1>
        <div class="row justify-content-center">
            <% if(posts && posts.length > 0){ %>
                <% posts.forEach(function(post){ %>
                <div class="col-lg-6 col-md-10 col-12">
                    <div class="card mb-4">
                        <img src="<%= post.image %>" class="card-img-top" alt="Image goes here">
                        <div class="card-body">
                            <p class='mb-2 font-italic'>By <%= post.author %></p>
                            <h5 class="card-title"><%= post.title %></h5>
                            <p class="card-text"><%= post.body %></p>
                        </div>
                    </div>
                </div>
                <% }) %>
            <% } %>
        </div>
    </div>
<% } %>

<script src="/homepage.js"></script>
<script>
    autocomplete(document.getElementById("searchUser"), <%- JSON.stringify(names) %>);
</script>
<script>
    $('#userForm').submit(function(){
  let user = $('#searchUser').val();
  $(this).attr('action', "/accounts/" + user);
}); 
</script>
<%- include('partials/footer.ejs') %>