<%- include('../partials/header') %>
<div class='container home-btn'>
    <a href="/">Home</a>
</div>
<div class="profile-pic">
    <span class="dot"></span>
    <div class='profile-username'>
        <h1><%= foundUser.username %></h1>
        
    </div>
</div>

<div class='container'>
    <div class="profile-ruler">
        <p class='lead'>
            <a >Posts</a>
            <% if(currentUser && currentUser.username === foundUser.username) { %>
                <a class='btn btn-outline-primary float-right' href='/accounts/<%= foundUser.username %>/posts/new'>New Post</a>
            <% } %>
        </p>
        <hr class="posts-ruler">
    </div>
    <div class='row'>
        <% posts.forEach(function(post){ %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="card">
                <img src="<%= post.image %>" class="card-img-top" alt="Image goes here">
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %></h5>
                  <p class="card-text"><%= post.body %></p>
                  <% if(currentUser && currentUser.username === foundUser.username) { %>
                    <form method="POST" action="/accounts/<%= foundUser.username %>/posts/<%= post._id %>?_method=DELETE">
                        <button type='submit' class="btn btn-outline-danger btn-sm">Delete</button>
                        <a href="/accounts/<%= foundUser.username %>/posts/<%= post._id %>/edit" class='btn btn-outline-success btn-sm float-right'>Edit post</a>
                    </form>
                  <% } %>
                </div>
              </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>