<%- include('../partials/header') %>

<div class='container form-flex-div'>
    <form class='w-100' action='/accounts/<%= currentUser.username %>/posts/<%= post._id %>?_method=PUT' enctype="multipart/form-data" method="POST">
        <p class='display-4 text-center mt-5'>Edit Post</p>
        <div class="form-group">
          <label for="postTitleInput">Title</label>
          <input type="text" class="form-control" id="postTitleInput" name='title' value="<%= post.title %>" required>
        </div>
        <label for="postImgDiv">Image Upload</label>
        <div class="custom-file mb-3" id="postImgDiv">
          <input type="file" class="custom-file-input file-upload" accept="image/*" id="postImg" name="postPic">
          <label class="custom-file-label" id="intext-label" for="postImg">Image Upload</label>
        </div>
        <div class="form-group">
          <label for="postImgPreview">Image Preview</label>
          <div class='imgPreviewContainer'>
            <img id='postImgPreview'>
          </div>
        </div>
        <div class="form-group">
          <label for="postBodyInput">Caption</label>
          <textarea class="form-control" id="postBodyInput" rows="10" name='body'><%= post.body %></textarea>
        </div>
        <input type="submit" class='btn btn-primary mb-5' value="Save">
      </form>
</div>


<script>
    const imgUrl = document.getElementById("postImg");
    const imgPreview = document.getElementById("postImgPreview");
    imgPreview.setAttribute("src", "data:image/<%=post.image.contentType%>;base64,<%=post.image.data.toString('base64')%>");
    imgUrl.addEventListener('change', function(event){
        imgPreview.setAttribute("src", URL.createObjectURL(event.target.files[0]));
        const index = this.value.lastIndexOf("\\")
        if(index > -1){
          document.getElementById("intext-label").textContent = this.value.substring(this.value.lastIndexOf("\\"));
        }else{
          document.getElementById("intext-label").textContent = this.value;
        }
    });
</script>

<%- include('../partials/footer') %>