<%- include('../partials/header') %>

<div class='container form-flex-div'>
    <form class='w-100' action='/accounts/<%= currentUser.username %>/posts/<%= post._id %>?_method=PUT' method="POST">
        <p class='display-4 text-center mt-5'>Make a New Post</p>
        <div class="form-group">
          <label for="postTitleInput">Title</label>
          <input type="text" class="form-control" id="postTitleInput" name='title' value="<%= post.title %>" required>
        </div>
        <div class="form-group">
          <label for="postImgURLInput">Image link</label>
          <input type="text" class="form-control" id="postImgURLInput" name='image' value="<%= post.image %>">
        </div>
        <div class="form-group">
          <label for="postImgPreview">Image Preview</label>
          <div class='imgPreviewContainer'>
            <img id='postImgPreview'>
          </div>
        </div>
        <div class="form-group">
          <label for="postBodyInput">Caption</label>
          <textarea class="form-control" id="postBodyInput" rows="10" name='body'><%= post.body %></textarea>
        </div>
        <input type="submit" class='btn btn-primary mb-5' value="Save">
      </form>
</div>


<script>
    const imgUrl = document.getElementById("postImgURLInput");
    const imgPreview = document.getElementById("postImgPreview");
    if(imgUrl.value.length > 0){
        imgPreview.setAttribute("src", imgUrl.value);
    }
    imgUrl.addEventListener('change', function(){
        imgPreview.setAttribute("src", imgUrl.value);
    });
</script>

<%- include('../partials/footer') %>